:root{
   --background-Color: rgb(235, 228, 228);
   --box-Shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

body {
    background-color: var(--background-Color);
  }

.container{
    display: flex;
    flex-wrap: wrap;
}
.aboutMeCard h3 {
    margin-top: -11%;
    font-weight: 600;
    padding: 1mm;
    flex-wrap: wrap;

}

.Location {
font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
margin-left: 3.5mm;
margin-top: -15mm;
flex-wrap: wrap;

}

.cardheadline {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    padding:3.5mm;
    margin-top: -8%;
    flex-wrap: wrap;

}

.profil{
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    margin: 19px 350px 10px 280px;
    background-color: white;
    width: 314px;
    height: 266px;
    border-radius: 15px;
    box-shadow: var(--box-Shadow);
    flex-wrap: wrap;
}

.profil p{
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    margin-top: -95px;
    padding: 10%;
    line-height:2.5;
    flex-wrap: wrap;

}

.aboutMeCard h3{
    padding: 15px;
    flex-wrap: wrap;

}
.aboutMeCard{
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    background-color:white;
    width: 650px;
    height: 296px;
    border-radius: 15px;
    box-shadow: var(--box-Shadow);
    margin: -709px 100px -10px 610px;
    flex-wrap: wrap; 
}

.sidecard{
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    margin: 15px 150px 13px 280px;
    background-color: white;
    width: 314px;
    height: 200px;
    border-radius: 15px;
    box-shadow: var(--box-Shadow);
    flex-wrap: wrap;
}
.card{
    background-color: var(--background-Color);
    width: 650px;
    height: 296px;
    border-radius: 15px;
    box-shadow:var(--box-Shadow);
    flex-wrap: wrap;

}
.avatar {
    padding: 9%;
    margin-top: -100px;
    flex-wrap: wrap;

}

  .MailTo {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    padding: 3mm;
    margin-top: -18px;
    text-decoration: none;
    color:chocolate;
}
  
.card-image {
    background-color: rgb(1, 1, 1);
    height: 150px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    flex-wrap: wrap;

}

.background {
    background-image: url('img/Background.jpg');
    flex-wrap: wrap;


}

.InfoschoolBBS2{
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    margin-right: -112px;
    flex-wrap: wrap;

}
.InfoschoolSecLvl2{
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    margin-left: 675px;
    flex-wrap: wrap;

}



.volunteerCard {
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    margin: 30px 145px 265px 610px;
    background-color: white;
    width: 650px;
    height: 296px;
    border-radius: 15px;
    box-shadow: var(--box-Shadow);
    flex-wrap: wrap;
}

.educationCard{
    width: 650px;
    height: 205px;
    flex-wrap: wrap;
    margin: 30px -150px 26px 610px;
    background-color: white;
    border-radius: 15px;
    box-shadow: var(--box-Shadow);
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.FeuerwehrPicFW {
    padding: 15%;
    margin-top: -25px;
}
.FeuerwehrPicAW {
    margin-top: -3px;
}

.volunteerTextFW{
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    padding: 17%;
    margin-top: -65px;
    margin-left: 45px;
}

.volunteerTextWA{
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    padding: 17%;
    margin-top: -65px;
    margin-left: 45px;
}

.resumeCard{
    width: 650px;
    height: 360px;
    margin: 30px -150px 26px 610px;
    background-color: white;
    border-radius: 15px;
    box-shadow: var(--box-Shadow);
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.javPic{
    margin-top: 1px;
}

.javPic img{
    border-radius: 50%;
    border: 2px solid black;
}
.bbs2Image{
    border-radius: 50%;
    margin-top: -60px;
    margin-left: 630px;
}

.fwText{
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    margin-left: 1110px;
    margin-top: -464px;
}

.WAText{
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    margin-left: 1110px;
    margin-top: 34px;
}

.InfoschoolBBS2{
font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
margin-left: 140px;
margin-bottom: 160px;
}

.JAVText{
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    margin-left: 1110px;
    margin-top: 45px;
}

.educationText{
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    margin-left: 625px;
    margin-top: -480px;
}

.hr1{
    margin-top: -120px;
}